<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center" style="background-image: url('https://st3.depositphotos.com/5531122/19330/i/1600/depositphotos_193307968-stock-photo-white-desk-office-with-laptop.jpg'); font-family: Arial;">
    <h1 class="display-3" style="color: gray;"  >QVBlog.VN</h1>
    <p class="lead" style="color: red;">Nơi bạn gửi gắm tâm tư</p>
</div>
<ul class="nav nav-tabs nav-stacked">
    <li class="nav-item">
        <a href="formChinh.html" class="nav-link ">Tạo Nhật Ký</a>
    </li>
    <li class="nav-item">
        <a href="khoBaiViet.html" class="nav-link">Kho Bài Viết</a>
    </li>
    <li class="nav-item">
        <a href="qlTaiKhoan.html" class="nav-link">Quản Lý Tài Khoản</a>
    </li>
</ul>
<br><br>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/changePassword.html}" th:object="${account1}" method="post">
    <div class="form-group" style="text-align: center;">
        <h1>Đổi Mật Khẩu</h1>
        <br>
        <label for="" style="color: green;">Mật Khẩu Cũ</label>
        <br>
        <input type="password" width="50px">
        <br>
        <label for="" style="color: green;">Mật Khẩu Mới</label>
        <br>
        <input type="password" th:field="*{passWord}"  width="50px">
        <br>
        <label for="" style="color: green;">Nhập Lại Mật Khẩu Mới</label>
        <br>
        <input type="password" width="50px">
        <br><br>
        <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
    </div>

</form>
